<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMoq" version="2.0.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="EntityFrameworkTesting" version="1.2.0" targetFramework="net45" />
  <package id="EntityFrameworkTesting.Moq" version="1.2.0" targetFramework="net45" />
  <package id="Machine.Fakes" version="2.7.0" targetFramework="net45" />
  <package id="Machine.Fakes.Moq" version="2.7.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.1" targetFramework="net45" />
  <package id="Moq" version="4.6.38-alpha" targetFramework="net45" />
  <package id="Moq.Modules" version="1.0.0" targetFramework="net45" />
  <package id="Moq.Sequences" version="1.0.1.0" targetFramework="net45" />
  <package id="MoqAssert" version="1.0.2" targetFramework="net45" />
  <package id="MoqExtensions" version="0.0.2" targetFramework="net45" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.MockingKernel" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.MockingKernel.Moq" version="3.2.2.0" targetFramework="net45" />
  <package id="Nuits.MoqExtensions" version="1.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="SimpleFixture" version="1.5.0" targetFramework="net45" />
  <package id="SimpleFixture.Moq" version="1.5.0" targetFramework="net45" />
  <package id="TestFramework.NUnit.Ninject.Moq" version="1.1.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>